<h1>Login</h1>
<% if (locals.messages) { %>
    <script language="javascript">
        if ("<%= messages.msg %>" !== '') {
            alert("<%= messages.msg %>");
        }
    </script>
    <% } %>
        <form action="/login" method="POST">
            <div>
                <label for="UserName">UserName:</label>
                <input type="userName" id="userName" name="userName" required />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />
            </div>
            <button type="submit">Login</button>
        </form>
        <a href="/register">Register</a>